@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 88, 28, 135;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom right,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
}
.text-purple-400 {
  color: #9d4edd;
}
.glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid #9d4edd; /* Purple border color */
}

@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap');

body {
  font-family: 'Exo', sans-serif;
}
